<section>
	<form action="/" method="post">
		<textarea name="content" placeholder="Enter your note here..."></textarea>
		<input type="submit" value="Take Note!">
	</form>
</section>

<% # display notes %>