<!DOCTYPE html> <!-- layout will be loaded on every route -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= "#{@title} | #{SITE_TITLE}"%></title>
	<link rel="stylesheet" href="/reset.css">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<header>
		<hgroup>
			<h1><a href="/"><%= SITE_TITLE %> </a></h1>
			<h2><%= SITE_DESCRIPTION %> </h2>
		</hgroup>
	</header>
	<div id="main">
		<%= yield %>  <!-- will load actual route content  -->
	</div>
	<footer>
		<p><small>An app for <a href="http://net.tutsplus.com">Nettuts+</a>.</small></p>
	</footer>
</body>
</html>